<div class="card p-0 m-0">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-9">
                <div class="card-title">
                    <h6 class="title-news-font mb-0">{{ returnValue(data.title) }}</h6>
                </div>
                <div class="d-flex align-items-center align-self-center">
                    <small class="subtitle-news-font pl-2">{{ returnValue(data.score) }} points by {{
                        returnValue(data.by)
                        }} | &nbsp;</small>
                    <small class="subtitle-news-font pl-2">codeberg.org | &nbsp;</small>
                    <img src="./assets/img/ic_clock.png" class="img-fluid pr-2" alt="">
                    <small class="subtitle-news-font pl-2">&nbsp; {{ returnTimeAgo(data.time) }} </small>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="mt-1 d-flex justify-content-end">
                    <button class="btn btn-warning" (click)="openDialog()">
                        <div class="d-flex align-items-center">
                            <img src="./assets/img/ic_chat.png" class="img-fluid pr-2" alt="icon chat">
                            <span class="mx-2">Comment &nbsp;&nbsp;</span>
                            <img src="./assets/img/ic_arrow.png" class="img-fluid pr-2" alt="icon arrow">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>