<nav class="navbar navbar-light bg-light justify-content-center p-0 custom-shadow">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto custom-my" href="#">
            <img src="./assets/img/logo.png" alt="" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>