.custom-my {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.custom-shadow {
  box-shadow: 0px 4px 10px 0px #4f617b1a !important;
}

nav {
  background-color: #ffff !important;
}
