.card {
  margin-top: 18px;
  background-color: #ffff;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0px #4f617b14;
}

.card-footer {
  background-color: #ffff;
}

.btn-warning {
  background-color: #ffeadc !important;
  border: none !important;
  color: #ff6600;
  font-weight: 600;
  font-size: 12px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}

.title-news-font {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
}

.subtitle-news-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #808080;
}

.card-title {
  height: 40px;
}

.border-bottom {
  border-bottom: 2px solid #d9d9d9;
}
