<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h6 class="title-news-font"> {{ returnValue(data.title) }}</h6>
        </div>
        <p class="subtitle-news-font border-bottom mb-2 pb-2">{{ returnValue(data.score) }} points by {{
            returnValue(data.by)
            }} |
            codeberg.org
        </p>
        <div class="">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center align-self-center">
                    <img src="./assets/img/ic_clock.png" class="img-fluid pr-2" alt="">
                    <small class="subtitle-news-font pl-2">&nbsp; {{ returnTimeAgo(data.time) }}</small>
                </div>
                <button class="btn btn-warning" (click)="openDialog()">
                    <div class="d-flex align-items-center">
                        <img src="./assets/img/ic_chat.png" class="img-fluid pr-2" alt="icon chat">
                        <span class="mx-2">Comment&nbsp;&nbsp;</span>
                        <img src="./assets/img/ic_arrow.png" class="img-fluid pr-2" alt="icon arrow">
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>