<app-navbar></app-navbar>

<main class="container my-5">
    <ng-container *ngIf="loading">
        <div class="d-flex justify-content-center">
            <app-loader></app-loader>
        </div>
    </ng-container>

    <ng-container *ngIf="!loading">
        <ng-container *ngFor="let group of groupedData">
            <div class="row">
                <div class="col-12 col-md-6 mt-1" *ngFor="let item of group">
                    <app-card-news-cmp [data]="item"></app-card-news-cmp>
                </div>
            </div>

            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item  p-0" *ngFor="let item of group">
                    <app-list-news-cmp [data]="item"></app-list-news-cmp>
                </li>
            </ul>
        </ng-container>
    </ng-container>
</main>

<app-footer></app-footer>