.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 80%;
  max-width: 600px;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}

.card-comment {
  background-color: #f4f4f4;
  border: none;
  border-radius: 6px;
}

.modal-header {
  display: block !important;
}

.title-dialog-font {
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
}

.total-comment-font {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.52px;
}

.by-comment-font {
  font-weight: 700;
  font-size: 14px;
  line-height: 19.6px;
}

.body-comment-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
}

.subtitle-dialog-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #808080;
}

.cursor-pointer {
  cursor: pointer;
}
