<ng-container *ngIf="loading">
    <div class="d-flex justify-content-center py-5">
        <app-loader></app-loader>
    </div>
</ng-container>

<ng-container *ngIf="!loading">
    <div class="modal-header">
        <div class="d-flex justify-content-end">
            <img src="./assets/img/ic_close.svg" class="img-fluid cursor-pointer" alt="icon close" (click)="close()">
        </div>
        <h4 class="modal-title title-dialog-font mb-2">{{ returnValue(dataItem.title) }}</h4>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center align-self-center">
                <small class="subtitle-dialog-font pl-2">{{ returnValue(dataItem.score) }} points by {{
                    returnValue(dataItem.by) }} | &nbsp;</small>
                <small class="subtitle-dialog-font pl-2">codeberg.org | &nbsp;</small>
                <img src="./assets/img/ic_clock.png" class="img-fluid pr-2" alt="">
                <small class="subtitle-dialog-font pl-2">&nbsp; {{ returnTimeAgo(dataItem.time) }} </small>
            </div>
            <div class="d-flex align-items-center align-self-center">
                <img src="./assets/img/ic_chat_black.png" class="img-fluid" alt="icon chat black">
                <p class="mb-0 total-comment-font">&nbsp; {{ returnValue(dataItem.descendants) }} Comment</p>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngFor="let item of commentsNested">
            <div class="card card-comment">
                <div class="card-body">
                    <div class="card-title">
                        <h6 class="by-comment-font"> {{ returnValue(item.by) }}</h6>
                    </div>
                    <div [innerHTML]="item.text ? item.text : 'undefined'" class="body-comment-font"></div>
                    <div style="margin-left: 20px" class="mt-2">
                        <ng-container *ngIf="item.nestedComments">
                            <ng-container *ngFor="let subItem of item.nestedComments" class="mt-1">
                                <p class="mb-0 by-comment-font"> {{ returnValue(subItem.by) }} </p>
                                <div [innerHTML]="subItem.text ? subItem.text : 'undefined'" class="body-comment-font">
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
            <p class="body-comment-font">{{ returnTimeAgo(item.time)}}</p>
        </ng-container>
    </div>
</ng-container>