body {
  font-family: "Inter", sans-serif;
  background-color: #f5f7fc;
}
/* 
.title-dialog-font {
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
}

.title-totalcomment-font {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.52px;
}

.title-news-font {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
}

.title-comment-font {
  font-weight: 700;
  font-size: 14px;
  line-height: 19.6px;
}

.body-comment-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
} */
